body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: #fff;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
  }
  
  .navbar a {
    display: inline-block;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: rgba(51, 145, 51, 0.459);
  }
  